/*.swagger-ui .topbar {
    background-color: #000;
    border-bottom: 3px solid #FFD54F;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border: 2px solid #FFD54F;
}*/

.swagger-ui .info .title,
.swagger-ui a.nostyle,
.swagger-ui .parameter__name,
.swagger-ui .parameter__type,
.swagger-ui .parameter__deprecated,
.swagger-ui .parameter__in,
.swagger-ui table thead tr th,
.swagger-ui .response-col_status,
.swagger-ui table thead tr td,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui label,
.swagger-ui .tab li,
.swagger-ui .opblock-tag,
.swagger-ui .opblock .opblock-section-header label,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .renderedMarkdown,
.swagger-ui .renderedMarkdown p,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.swagger-ui table.headers td,
.swagger-ui .response-col_links,
.swagger-ui .response-control-media-type__title,
.swagger-ui .btn {
    color: #CCCCCC;
}

body,
.swagger-ui .info .title,
.swagger-ui .scheme-container,
.swagger-ui select {
    background-color: #222;
    color: #CCC;
}

.swagger-ui .opblock .opblock-section-header {
    background-color: transparent;
}

.swagger-ui textarea,
.swagger-ui input[type=text] {
    background-color: #41444e;
    color: #CCC;
}

.swagger-ui .topbar {
    background-color: #000
}

.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p {
    color: #CCC;
}